@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway&display=swap');

.aid-4434106 .co_body .content .form-all li {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.aid-4434106 header.article-header.cf {
  display: none;
}

.aid-4434106 li#id_20 {
  width: 100%;
  background: none;
}

.aid-4434106 .article-header h1,
form[id='4434106'] button {
  font-family: 'Montserrat', sans-serif;
}

form[id='4434106'] .form-label-auto label, form[id='4434106'] .form-label-top label, form[id='4434106'] .form-label-left label, form[id='4434106'] .form-label-right label {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fab87e;
  font-weight: bold;
  background: #bc1245;
  padding: 5px;
  width: 109%;
  display: inline-block;
  margin-bottom: 4px;
  padding-left: 14px;
  margin-left: -35px;
}

form[id='4434106'] div#formContainer .form-label-top, form[id='4434106'] .form-label-left label {
  font-size: 20px;
}

form[id='4434106'] .form-all .label-message {
  font-family: 'Raleway', sans-serif;
  background: none;
  font-weight: bold;
  text-transform: uppercase;
  text-transform: none;
  letter-spacing: 0;
  margin-left: 0;
  font-size: 15px;
  color: #835603;
}

form[id='4434106'] .form-line {
  background-color: #fff6e5;
  width: 600px;
  margin: 20px auto;
}

body.mobile form[id='4434106'] .form-line {
  width: 95vw;
}

form[id='4434106'] div#text_1 img {
  max-width: 100%;
}

/*HIDE BG FOR CERTAIN AREAS*/

form[id='4434106'] li#id_2, form[id='4434106'] li#id_1, form[id='4434106'] li#id_3 {
  background: rgba(255, 255, 255, 0);
  border-bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

form[id='4434106'] h2.form-header {
  font-family: Arial;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 2px solid #fff6e5;
  color: #835603;
}

form[id='4434106'] img.form-image {
  width: 100%;
}

form[id="4434106"] div#raffle-deets {
  width: 80%;
  background: #fff6e5;
  color: #835603;
  padding: 25px;
  margin: 20px auto;
  text-align: center;
  border: white double 11px;
}

form[id="4434106"] div#raffle-deets p {
  color: #835603;
}

form[id="4434106"] div#raffle-deets p:nth-child(1) {
  font-size: 20px;
  border-bottom: 1px solid white;
}

/*4 tickets bold */

.aid-4434106 label#label_input_4_2 {
  font-weight: bold;
}

/* Footnote Disclaimer */

.aid-4434106 #id_10 {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.aid-4434106 label#label_input_19_5:after {
  content: '24 tickets, gift, and dinner for 2 at Mizrahi Grill';
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
}
