@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");
*,
body,
.co_body .content p,
.co_body .content li,
.article-body h1,
.article-body h2,
.article-body h3,
.co_body h2,
.co_body h2 a {
  font-family: "Libre Baskerville", serif;
}

body.mobile div#chabad_body_page,
body.cco_templateless_page {
  background-image: url("https://chabadorg.clhosting.org/media/images/1044/GKNP10445692.jpg");
  background-size: cover;
}

.page-tools-sidebar {
  display: none;
}

div#cco_body .content_tditle_container .overlay {
  display: none;
}

div.widget_header {
  display: none;
}

#border_bottom {
  width: 975px;
}

div#chabad_head {
  width: initial !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

td.chabad_logo {
  float: none;
}

.chabad_logo a {
  text-decoration: none;
}

td.chabad_logo a,
td.chabad_logo h1,
td.chabad_logo div {
  font-size: 40px;
}

.chabad_logo h1 a img {
  max-height: 100px;
}

td.chabad_text_head {
  box-sizing: border-box;
  float: none;
  vertical-align: middle;
}

td.chabad_text_head img {
  float: right;
}

div#chabad_head .chabad_navigator_bar {
  display: flex;
}

body.mobile .navi li.parent:first-child {
  display: inline !important;
}

.mobile div#chabad_head .chabad_navigator_bar {
  width: 100%;
  height: auto;
}

div#chabad_main_content .chabad_navigator_bar .chabad_menu_content {
  height: 100%;
}

div#chabad_head .chabad_navigator_bar ul#menu {
  height: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

div#chabad_head .chabad_navigator_bar ul li {
  float: left;
  font-size: 13px;
  list-style: none;
  color: rgba(0, 0, 0, 0);
  z-index: 2;
}

div#chabad_head .chabad_navigator_bar ul li .sub_menu {
  display: none;
  position: absolute;
  top: 36px;
}

div#chabad_head .chabad_navigator_bar ul li ul {
  padding: 0;
}

div#chabad_head .chabad_navigator_bar ul li ul li {
  border-bottom: 1px solid #ffffff;
  border-right: none;
  float: none;
  font-size: 12px;
  height: auto;
  line-height: 17px;
  min-height: 23px;
  padding: 3px 0;
}

div#chabad_head .chabad_navigator_bar ul li.active .sub_menu {
  display: block;
}

div#chabad_head .chabad_navigator_bar ul li ul li:last-child {
  border: none;
}

div#chabad_head .chabad_navigator_bar ul li ul li a {
  display: inline-block;
  float: none;
  font-size: 12px;
  height: auto;
  max-width: 220px;
  min-width: 80px;
  padding: 2px 15px 0 15px;
}

div#chabad_head .chabad_navigator_bar ul li ul li a:hover {
  background: none;
}

div#chabad_head .chabad_navigator_bar ul li:last-child {
  border-right: none;
}

.chabad_navigator_bar ul li a {
  float: left;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  height: 100%;
  color: #dddddd;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 12px;
  font-size: 17px;
}

.chabad_navigator_bar ul li a.arrow {
  background: url("") no-repeat right center;
  padding-right: 26px;
}

div#chabad_head .chabad_navigator_bar ul li.active a.parent,
div#chabad_head .chabad_navigator_bar ul li a.selected,
div#chabad_head .chabad_navigator_bar ul li a:hover {
  background-color: #ddd;
  color: #012444;
}

div#chabad_head .chabad_navigator_bar ul li a.first {
  padding-left: 0;
}

div#chabad_main_content {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: left;
  width: 975px;
}

.chabad_left_column {
  float: left;
  margin-bottom: 30px;
  width: 975px;
  background: white;
  padding: 30px;
  background-image: url(https://chabadorg.clhosting.org/media/images/1044/mKPI10448056.png);
  background-repeat: repeat-y;
  background-position-x: 100%;
}

.content_full_width .chabad_left_column {
  float: none;
  width: auto;
}

.chabad_right_column {
  float: left;
  margin-top: 15px;
  width: 105px;
  position: fixed;
  right: 0;
}

#chabad_right_colum > div {
  margin: 0 0 10px;
  overflow: visible;
  padding: 1px;
}

#chabad_body_content {
  clear: both;
  width: 975px;
  margin-bottom: 20px;
}

#navigation,
.chabad_menu_content,
#chabad_head .chabad_content_head,
.chabad_banner_content,
.chabad_banner_content .chabad_image_content,
.chabad_image_banner,
.chabad_box_content_first,
.chabad_box_content_second,
.chabad_box_content_third,
.chabad_title_box.no_line,
.chabad_box_content_body,
.chabad_box_gradient,
.chabad_announce,
.chabad_text_box,
.chabad_text_box,
.content_box_custom {
  float: none;
  width: initial;
}

.chabad_banner_content .chabad_text_banner {
  float: left;
  padding: 0 0 20px;
  width: 100%;
}

#content_banner:after {
  clear: both;
  content: " ";
  display: table;
}

.chabad_banner_content .chabad_image_banner {
  max-height: 342px;
  overflow: hidden;
}

#chabad_head .flowers,
#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  .item
  .image {
  float: left;
}

.chabad_announce {
  margin: 10px;
  overflow: hidden;
}

.chabad_box_content_first,
.chabad_box_content_second,
.chabad_box_content_third {
  overflow-x: initial !important;
}

.chabad_banner_content .chabad_text_banner a.chabad_more_button {
  float: right;
}

.chabad_image_banner img {
  height: auto;
  width: 100%;
}

.chabad_text_box div {
  font-size: 14px;
}

.co_section_head,
.co_photo_gallery_head,
.chabad_updates_head,
.co_calendar_head {
  color: #fff;
  font-size: 20px;
  margin: 0 -1px;
}

.co_section_body,
.co_photo_gallery_body,
.chabad_updates_body,
.co_calendar_body,
.chabad_box_text_body {
  margin: 10px;
}

.co_section_text .item:last-child,
.co_photo_gallery_text .item:last-child,
.chabad_updates_text .item:last-child,
.co_calendar_text .item:last-child {
  border-bottom: none !important;
}

.chabad_logo p {
  margin: 0;
}

.mobile_menu_nav_button {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}

.mobile_menu_nav_button:after {
  content: "\25bc";
  left: 10px;
  position: relative;
  color: inherit;
}

.mobile_menu.open .mobile_menu_nav_button:after {
  content: "\25b2";
}

body.mobile #chabad_head .chabad_navigator_bar {
  width: calc(100% - 100px);
  height: auto;
  margin-top: 0;
  float: left;
}

body.mobile #chabad_head .chabad_navigator_bar ul {
  float: none;
  display: block;
}

body.mobile #chabad_head .chabad_navigator_bar ul li {
  float: left;
  display: block;
  height: auto;
}

body.mobile #chabad_head .chabad_navigator_bar ul li a {
  float: left;
  padding: 5px;
  height: 100%;
}

.mobile_menu_nav_button {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}

.mobile_menu_nav_button:after {
  content: "\25bc";
  left: 10px;
  position: relative;
  color: inherit;
}

.mobile_menu.open .mobile_menu_nav_button:after {
  content: "\25b2";
}

body.mobile .chabad_navigator_bar .chabad_menu_content {
  width: 100% !important;
  position: relative;
  z-index: 2;
}

body.mobile .chabad_navigator_bar .chabad_menu_content ul {
  margin: 0;
  padding: 0 15px;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li {
  display: inline-block;
  position: relative;
  z-index: 2;
  float: none;
  list-style: none;
}

body.mobile #navigation.chabad_navigator_bar #menu li:not(.heading) {
  padding-left: 10px;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li.last {
  border-right: none;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li.custom_separator {
  display: none;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  float: left;
  text-align: left;
}

body.mobile #chabad_head .chabad_navigator_bar .chabad_menu_content li a.arrow,
body.mobile
  #chabad_head
  .chabad_navigator_bar
  .chabad_menu_content
  ul
  li
  a.arrow {
  background: none;
  padding-right: initial;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li a.first {
  padding-left: 0;
}

body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu ul {
  float: none;
  padding: 0;
}

body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu li {
  float: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  height: auto;
  padding: 0;
  display: block;
}

body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu li.last {
  border-bottom-width: 2px;
}

body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu a {
  font-size: 14px;
  padding: 7px 18px 6px;
  font-weight: bold;
  display: block;
  float: none;
  height: auto;
  margin-bottom: 2px;
}

body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu a:hover {
  background: none;
}

body.mobile .mobile_menu_nav_button {
  display: none;
}

body.mobile .chabad_navigator_bar #menu .item.heading {
  display: block;
  text-align: center;
}

body.mobile .chabad_navigator_bar #menu .item.heading a {
  background: url(/images/1/global/bullets/down_triangle_blue.png) no-repeat
    right center;
  padding-right: 20px;
}

body.mobile .chabad_navigator_bar .sub_menu_toggle {
  display: inline-block;
  position: absolute;
  background: url(/images/1/global/bullets/down_triangle_blue.png) no-repeat
    center center;
  color: transparent;
  width: 10px;
  height: auto;
}

body.mobile .chabad_navigator_bar #menu .item.heading.expanded a,
body.mobile .chabad_navigator_bar .sub_menu_toggle.expanded {
  background-image: url(/images/1/global/bullets/up_triangle_blue.png);
}

body.mobile #menu li.item.parent {
  display: block;
  text-align: left;
}

body.mobile #menu li.item.selected a {
  border: none;
}

body.mobile #navigation.chabad_navigator_bar #menu,
body.mobile #navigation.chabad_navigator_bar #menu .sub_menu {
  /*overflow: hidden;*/
  overflow: visible;
  transition: height 0.5s;
}

body.mobile #navigation.chabad_navigator_bar #menu .sub_menu,
body.mobile #chabad_head .chabad_navigator_bar .sub_menu {
  position: initial;
  display: block;
  width: auto;
  height: auto;
  padding: 0 0 0 20px;
  background: none;
  height: 0;
}

body.mobile .chabad_navigator_bar .sub_menu_toggle:not(.expanded) + .sub_menu {
  height: 0;
}

body.mobile .chabad_navigator_bar #menu .sub_menu ul {
  border-left: 3px solid #bebebe;
}

body.mobile .chabad_navigator_bar .sub_menu li.last {
  border-bottom: none;
}

body.mobile #menu .sub_menu a {
  font-weight: normal;
}

body.mobile {
  border: none;
  margin: 0;
}

body.mobile .chabad_text_head img,
body.mobile .chabad_image_banner img,
body.mobile .chabad_header img {
  width: 100%;
  height: 100%;
}

body.mobile .chabad_header {
  width: 80px;
  padding: 10px;
}

body.mobile .chabad_banner_content,
body.mobile #chabad_body_content,
body.mobile .chabad_right_column,
body.mobile #chabad_box_text,
body.mobile #chabad_head .chabad_content_head,
body.mobile .chabad_title_box.no_line {
  float: initial;
}

body.mobile #chabad_main_content,
body.mobile #chabad_head .chabad_content_head,
body.mobile #chabad_body_content,
body.mobile .chabad_banner_content {
  width: auto;
  box-sizing: border-box;
  min-width: initial;
}

body.mobile .chabad_left_column {
  width: auto;
  float: none;
  margin-bottom: 15px;
}

body.mobile #chabad_body_content {
  padding: 0 7px;
  overflow: hidden;
}

body.mobile #chabad_updates,
body.mobile #co_calendar,
body.mobile .co_section,
body.mobile #chabad_box_text,
body.mobile #co_photo_gallery {
  margin-top: 10px;
  margin-bottom: 0;
  vertical-align: top;
}

body.mobile .chabad_banner_content .chabad_text_banner,
body.mobile .chabad_box_content_first,
body.mobile .chabad_box_content_second,
body.mobile .chabad_box_content_third {
  padding-right: 10px;
  padding-left: 10px;
}

body.mobile #chabad_body_page,
body.mobile.cco_templateless_page {
  padding-top: initial;
}

body.mobile .co_local_menu {
  margin-bottom: initial;
}

body.mobile #chabad_head .chabad_logo a {
  text-decoration: none;
  display: inline-block;
}

body.mobile #chabad_head .chabad_logo a div {
  font-size: 27px;
}

body.mobile #chabad_head {
  width: 100%;
  float: initial;
  height: auto;
}

body.mobile #chabad_head table img {
  max-width: 100%;
  height: auto;
}

body.mobile #chabad_head .chabad_content_head {
  position: relative;
  height: auto;
}

body.mobile #chabad_head .chabad_logo {
  margin: 0;
  position: relative;
  z-index: 1;
  height: auto;
  float: initial;
  width: auto;
  box-sizing: border-box;
}

body.mobile #chabad_head .logocell {
  padding: 0;
  display: block;
  margin: 0 20px 0 0;
}

body.mobile #chabad_head .chabad_text_head {
  display: none;
}

body.mobile .chabad_right_column {
  text-align: center;
  margin-bottom: 15px;
}

body.mobile .co_section,
body.mobile #chabad_box_text {
  text-align: initial;
}

body.mobile #chabad_box_text .chabad_box_text_body {
  padding: 10px 15px;
  margin: 0;
}

body.mobile #footer .footer_inner_container {
  text-align: center;
}

body.mobile #BodyContainer,
body.mobile .g960.footer {
  width: auto;
  max-width: 100%;
  margin: 0;
  float: none;
  display: block;
  background: none;
}

body.mobile .co_body img,
body.mobile #chabad_main_content img {
  max-width: 100%;
  height: auto;
}

body.mobile #chabad_body_content,
body.mobile .chabad_banner_content,
body.mobile .chabad_left_column,
body.mobile #chabad_left_column,
body.mobile #chabad_left_column .content_page,
body.mobile .chabad_left_column .content_page,
body.mobile #chabad_left_column .content_page_full,
body.mobile .chabad_left_column .content_page_full,
body.mobile .chabad_right_column {
  margin-left: 0;
  margin-right: 0;
}

.mobile .chabad_left_column {
  background-image: none;
  padding: 0;
}

div.chabad_header img {
  width: 320px;
}

.cco_templateless_template {
  background: none;
  font-family: "Libre Baskerville", serif !important;
  overflow: hidden;
}

.cco_templateless_template a {
  text-transform: none !important;
  color: white;
  font-family: "Libre Baskerville", serif !important;
  opacity: 0.3;
  transform: scale(0.8);
  position: absolute;
  left: -5px;
  top: -3px;
  text-decoration: none !important;
}

body.mobile #content-wrap {
  width: 95vw;
}

body.mobile div#formContainer {
  width: 95vw;
}

.footer,
.footer a {
  color: white;
}

/* HOME PAGE */

#rendering {
  padding: 10px;
  box-sizing: border-box;
}

#rendering img {
  max-width: 100%;
}

/* PAGE */

.article-body h1,
.article-body h2,
.article-body h3,
h2.form-header {
  color: #012444;
  font-size: 40px;
  border-bottom: 3px solid #dddddd;
  margin-bottom: 30px;
  max-width: 730px;
}

/* DEDICATION PAGE */

#id_26 {
  margin-top: 30px;
}

#cid_1 .form-header-group {
  padding: 0;
  margin: 0;
}

div#formContainer .form-label-top,
.form-label-left label {
  font-size: 20px;
}

#id_26 p {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
}

.form-label-auto label,
.form-label-top label,
div.co_body h3 {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
  background: #012444;
  padding: 5px;
  width: 109%;
  display: inline-block;
  margin-bottom: 4px;
  padding-left: 14px;
  margin-left: -36px;
}

.mobile .form-label-top label {
  width: 100%;
  margin-left: 0;
}

.form-all .label-message {
  font-family: "Libre Baskerville", serif;
  background: none;
  text-transform: none;
  letter-spacing: 0;
  margin-left: 0;
}

.form-line {
  background-color: #e8ebec;
  width: 600px;
  margin: 20px auto;
  box-shadow: 1px 1px 5px 2px #dddddd;
}

body.mobile .form-line {
  width: 95vw;
}

li#id_2,
#id_10,
form[id="3957400"] li#id_6 {
  background: transparent;
  border-bottom: 0;
  box-shadow: none;
}

span[id="7-form-required"] {
  display: none;
}

/*THERMOMETER*/

#thermometer {
  background: #dddddd;
  height: 300px;
  width: 50px;
  border-radius: 100px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
}

#current-wrapper {
  align-items: flex-end;
  display: flex;
  min-height: 30px;
}

#current {
  background: #012444;
  height: 100%;
  border-radius: 100px;
  width: 100%;
  -moz-animation: grow 2s 1;
  -webkit-animation: grow 2s 1;
  animation: grow 2s 1;
}

div#goal-text {
  position: relative;
  right: 100px;
  top: 40px;
  color: white;
  font-weight: bold;
}

#current-text {
  position: relative;
  right: 90px;
  top: 7px;
  color: white;
}

#donate-btn {
  display: inline-block;
  padding: 10px 15px;
  width: 165px;
  position: relative;
  border-bottom: 3px solid #c7bfbf;
  right: 110px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  background: #dddddd;
}

#donate-btn:hover {
  text-decoration: none;
  background: #c7bfbf;
}

@-moz-keyframes grow {
  0% {
    height: 30px;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes grow {
  0% {
    height: 30px;
  }
  100% {
    height: 100%;
  }
}

@keyframes grow {
  0% {
    height: 30px;
  }
  100% {
    height: 100%;
  }
}
