@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body, p, .co_body .content .form-all li, .co_body .content p, .co_body .content li, .co_body h2, .co_body h2 a, .co_body h1 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.co_content_container {
  padding-top: 0;
}

#cco_body .content_tditle_container .overlay {
  display: none;
}

.chabad_header {
  background: url(https://jewishnewton.com/media/images/1066/chLP10661272.jpg);
  padding: 20px;
  text-align: center;
}

div.widget_header {
  display: none;
}
#border_bottom {
  width: 975px;
}
#chabad_head {
  float: none !important;
  width: initial !important;
}

td.chabad_logo {
  float: none;
}

.chabad_logo a {
  text-decoration: none;
}

td.chabad_logo a,
td.chabad_logo h1,
td.chabad_logo div {
  font-size: 40px;
}

.chabad_logo h1 a img {
  max-height: 100px;
}

td.chabad_text_head {
  box-sizing: border-box;
  float: none;
  vertical-align: middle;
}

td.chabad_text_head img {
  float: right;
}

#chabad_head .chabad_navigator_bar {
  background-size: 100%;
  background: #d0af41;
}

.mobile #chabad_head .chabad_navigator_bar {
  width: 100%;
  height: auto;
}

#chabad_main_content .chabad_navigator_bar .chabad_menu_content {
  height: 100%;
}

#chabad_head .chabad_navigator_bar ul#menu {
  margin: 0;
  padding: 10px;
  position: relative;
  z-index: 2;
  text-align: center;
}

#chabad_head .chabad_navigator_bar ul li {
  font-size: 13px;
  list-style: none;
  z-index: 2;
  display: inline-block;
  color: #d0af41;
}

#chabad_head .chabad_navigator_bar ul li .sub_menu {
  display: none;
  position: absolute;
  top: 36px;
}

#chabad_head .chabad_navigator_bar ul li:last-child {
  border-right: none;
}

.chabad_navigator_bar ul li a {
  font-weight: bold;
  height: 100%;
  padding: 0 16px;
  text-decoration: none;
  color: #e8d7a0;
  text-transform: uppercase;
  font-size: 22px;
}

.chabad_navigator_bar ul li a.selected,
.chabad_navigator_bar ul li a:hover {
  color: white;
}

.chabad_navigator_bar ul li a.arrow {
  background: url("") no-repeat right center;
  padding-right: 26px;
}

#chabad_head .chabad_navigator_bar ul li a.first {
  padding-left: 0;
}


#chabad_head .chabad_navigator_bar ul li ul {
  padding: 0;
}

#chabad_head .chabad_navigator_bar ul li ul li {
  border-bottom: 1px solid #ffffff;
  border-right: none;
  float: none;
  font-size: 12px;
  height: auto;
  line-height: 17px;
  min-height: 23px;
  padding: 3px 0;
}

#chabad_head .chabad_navigator_bar ul li.active .sub_menu {
  display: block;
}

#chabad_head .chabad_navigator_bar ul li ul li:last-child {
  border: none;
}

#chabad_head .chabad_navigator_bar ul li ul li a {
  display: inline-block;
  float: none;
  font-size: 12px;
  height: auto;
  max-width: 220px;
  min-width: 80px;
  padding: 2px 15px 0 15px;
}

#chabad_head .chabad_navigator_bar ul li ul li a:hover {
  background: none;
}

#chabad_main_content {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: left;
}

div.chabad_left_column {
  float: left;
  margin: 15px;
  margin-bottom: 0;
  width: 685px;
}

div.content_full_width .chabad_left_column {
  float: none;
  width: auto;
}

div.chabad_right_column {
  float: left;
  margin-top: 15px;
  width: 245px;
}
#chabad_right_colum > div {
  margin: 0 0 10px;
  overflow: visible;
  padding: 1px;
}

#content_page_full {
  padding-bottom: 15px;
  width: 975px;
  margin: 50px auto 0;
}

.mobile #content_page_full {
  width: 100%;
}

#navigation,
.chabad_menu_content,
#chabad_head .chabad_content_head,
.chabad_banner_content,
.chabad_banner_content .chabad_image_content,
.chabad_image_banner,
.chabad_box_content_first,
.chabad_box_content_second,
.chabad_box_content_third,
.chabad_title_box.no_line,
.chabad_box_content_body,
.chabad_box_gradient,
.chabad_announce,
.chabad_text_box,
.chabad_text_box,
.content_box_custom {
  float: none;
  width: initial;
}

.chabad_banner_content .chabad_text_banner {
  float: left;
  padding: 0 0 20px;
  width: 100%;
}

#content_banner:after {
  clear: both;
  content: " ";
  display: table;
}

.chabad_banner_content .chabad_image_banner {
  max-height: 342px;
  overflow: hidden;
}

#chabad_head .flowers,
#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  div.item
  .image {
  float: left;
}

.chabad_announce {
  margin: 10px;
  overflow: hidden;
}
.chabad_box_content_first,
.chabad_box_content_second,
.chabad_box_content_third {
  overflow-x: initial !important;
}

.chabad_banner_content .chabad_text_banner a.chabad_more_button {
  float: right;
}

.chabad_image_banner img {
  height: auto;
  width: 100%;
}

.chabad_text_box div {
  font-size: 14px;
}
.co_section_head,
.co_photo_gallery_head,
.chabad_updates_head,
.co_calendar_head {
  color: #fff;

  font-size: 20px;
  margin: 0 -1px;
}

.chabad_logo p {
  margin: 0;
}

.mobile_menu_nav_button {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}
.mobile_menu_nav_button:after {
  content: "\25bc";
  left: 10px;
  position: relative;
  color: inherit;
}
.mobile_menu.open .mobile_menu_nav_button:after {
  content: "\25b2";
}
body.mobile #chabad_head .chabad_navigator_bar {
  width: auto;
  height: auto;
  margin-top: 0;
  float: none;
}
body.mobile #chabad_head .chabad_navigator_bar ul {
  float: none;
  display: block;
}

body.mobile #chabad_head .chabad_navigator_bar ul li {
  float: none;
  display: block;
  height: auto;
}
body.mobile #chabad_head .chabad_navigator_bar ul li a {
  float: none;
}
.mobile_menu_nav_button {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}
.mobile_menu_nav_button:after {
  content: "\25bc";
  left: 10px;
  position: relative;
  color: inherit;
}
.mobile_menu.open .mobile_menu_nav_button:after {
  content: "\25b2";
}
body.mobile .chabad_navigator_bar .chabad_menu_content {
  width: 100% !important;
  position: relative;
  z-index: 2;
}
body.mobile .chabad_navigator_bar .chabad_menu_content ul {
  margin: 0;
  padding: 0 15px;
}
body.mobile .chabad_navigator_bar .chabad_menu_content li {
  display: inline-block;
  position: relative;
  z-index: 2;
  float: none;
  list-style: none;
}
body.mobile .chabad_navigator_bar .chabad_menu_content li.last {
  border-right: none;
}
body.mobile .chabad_navigator_bar .chabad_menu_content li.custom_separator {
  display: none;
}
body.mobile .chabad_navigator_bar .chabad_menu_content li a {
  font-size: 13px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  float: none;
  text-align: left;
}
body.mobile
  #chabad_head
  .chabad_navigator_bar
  .chabad_menu_content
  li
  a.arrow,
body.mobile
  #chabad_head
  .chabad_navigator_bar
  .chabad_menu_content
  ul
  li
  a.arrow {
  background: none;
  padding-right: initial;
}
body.mobile .chabad_navigator_bar .chabad_menu_content li a.first {
  padding-left: 0;
}
body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu ul {
  float: none;
  padding: 0;
}
body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu li {
  float: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  height: auto;
  padding: 0;
  display: block;
}
body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu li.last {
  border-bottom-width: 2px;
}
body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu a {
  font-size: 14px;
  padding: 7px 18px 6px;
  font-weight: bold;
  display: block;
  float: none;
  height: auto;
  margin-bottom: 2px;
}
body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu a:hover {
  background: none;
}
body.mobile .mobile_menu_nav_button {
  display: none;
}
body.mobile .chabad_navigator_bar #menu .item.heading {
  display: block;
  text-align: center;
}
body.mobile .chabad_navigator_bar #menu .item.heading a {
  background: url(/images/1/global/bullets/down_triangle_blue.png) no-repeat
    right center;
  padding-right: 20px;
}
body.mobile .chabad_navigator_bar .sub_menu_toggle {
  display: inline-block;
  position: absolute;
  background: url(/images/1/global/bullets/down_triangle_blue.png) no-repeat
    center center;
  color: transparent;
  width: 10px;
  height: auto;
}
body.mobile .chabad_navigator_bar #menu .item.heading.expanded a,
body.mobile .chabad_navigator_bar .sub_menu_toggle.expanded {
  background-image: url(/images/1/global/bullets/up_triangle_blue.png);
}
body.mobile #menu li.item.parent {
  display: block;
  text-align: left;
}

body.mobile #menu li.item.selected a {
  border: none;
}
body.mobile #navigation.chabad_navigator_bar #menu,
body.mobile #navigation.chabad_navigator_bar #menu .sub_menu {
  overflow: hidden;
  transition: height 0.5s;
}
body.mobile #navigation.chabad_navigator_bar #menu .sub_menu,
body.mobile #chabad_head div.chabad_navigator_bar .sub_menu {
  position: initial;
  display: block;
  width: auto;
  height: auto;
  padding: 0 0 0 20px;
  background: none;
  height: 0;
}
body.mobile .chabad_navigator_bar .sub_menu_toggle:not(.expanded) + .sub_menu {
  height: 0;
}
body.mobile div.chabad_navigator_bar #menu .sub_menu ul {
  border-left: 3px solid #bebebe;
}
body.mobile div.chabad_navigator_bar .sub_menu li.last {
  border-bottom: none;
}
body.mobile #menu .sub_menu a {
  font-weight: normal;
}
body.mobile {
  border: none;
  margin: 0;
}
body.mobile .chabad_text_head img,
body.mobile .chabad_image_banner img,
body.mobile .chabad_header img {
  width: 100%;
  height: 100%;
}
body.mobile .chabad_banner_content,
body.mobile #chabad_body_content,
body.mobile div.chabad_right_column,
body.mobile #chabad_box_text,
body.mobile #chabad_head .chabad_content_head,
body.mobile .chabad_title_box.no_line {
  float: initial;
}
body.mobile #chabad_main_content,
body.mobile #chabad_head .chabad_content_head,
body.mobile #chabad_body_content,
body.mobile .chabad_banner_content,
body.mobile #chabad_right_colum,
body.mobile div.chabad_right_column {
  width: auto;
  box-sizing: border-box;
  min-width: initial;
}
body.mobile div.chabad_left_column,
body.mobile div.chabad_left_colum {
  width: auto;
  float: none;
  margin-bottom: 15px;
}
body.mobile #chabad_body_content {
  padding: 0;
  /* padding: 0 7px; */
  overflow: hidden;
}
body.mobile #chabad_updates,
body.mobile #co_calendar,
body.mobile div.co_section,
body.mobile #chabad_box_text,
body.mobile #co_photo_gallery {
  margin-top: 10px;
  margin-bottom: 0;
  vertical-align: top;
}
body.mobile .chabad_banner_content .chabad_text_banner,
body.mobile .chabad_box_content_first,
body.mobile .chabad_box_content_second,
body.mobile .chabad_box_content_third {
  padding-right: 10px;
  padding-left: 10px;
}
body.mobile #chabad_body_page,
body.mobile.cco_templateless_page {
  padding-top: initial;
}
body.mobile #chabad_body_page,
body.cco_templateless_page {
  background: none;
  overflow-x: hidden;
}
body.mobile .co_local_menu {
  margin-bottom: initial;
}
body.mobile #chabad_head .chabad_logo a {
  text-decoration: none;
  display: inline-block;
}
body.mobile #chabad_head .chabad_logo a div {
  font-size: 27px;
}
body.mobile #chabad_head {
  width: 100%;
  float: initial;
  height: auto;
}
body.mobile #chabad_head table img {
  max-width: 100%;
  height: auto;
}
body.mobile #chabad_head .chabad_content_head {
  position: relative;
  height: auto;
}
body.mobile #chabad_head .chabad_logo {
  margin: 0;
  position: relative;
  z-index: 1;
  height: auto;
  float: initial;
  width: auto;
  box-sizing: border-box;
}
body.mobile #chabad_head .logocell {
  padding: 0;
  display: block;
  margin: 0 20px 0 0;
}
body.mobile #chabad_head .chabad_text_head {
  display: none;
}
body.mobile div.chabad_right_column {
  text-align: center;
  margin-bottom: 15px;
}

body.mobile #chabad_updates,
body.mobile #co_calendar,
body.mobile div.co_section,
body.mobile #co_photo_gallery,
body.mobile #chabad_box_text {
  text-align: initial;
}
body.mobile #chabad_box_text .chabad_box_text_body {
  padding: 10px 15px;
  margin: 0;
}
body.mobile #footer .footer_inner_container {
  text-align: center;
}
body.mobile #BodyContainer,
body.mobile .g960.footer {
  width: auto;
  max-width: 100%;
  margin: 0;
  float: none;
  display: block;
}
body.mobile .co_body img,
body.mobile #chabad_main_content img {
  max-width: 100%;
  height: auto;
}

body.mobile #chabad_body_content,
body.mobile .chabad_banner_content,
body.mobile div.chabad_left_column,
body.mobile #chabad_left_column,
body.mobile #chabad_left_column .content_page,
body.mobile div.chabad_left_column .content_page,
body.mobile #chabad_left_column .content_page_full,
body.mobile div.chabad_left_column .content_page_full,
body.mobile div.chabad_right_column {
  margin-left: 0;
  margin-right: 0;
}


.co_body h2, .co_body h1 {
  color: #d5af1c;
  border-bottom: solid 1px #d5af1c;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 25px;
}

.form-header-group {
  padding: 0;
}

#home-invite {
  width: 100vw;
  background: #242420;
  text-align: center;
  position: relative;
  top: -15px;
  left: -15px;
  padding: 40px 0;
}

.mobile #home-invite {
  left: 0;
}

.mobile #chabad_head .chabad_navigator_bar ul#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* FORM */

.form-textbox, .form-textarea {
  box-shadow: none;
  border-radius: 4px;
  padding: 6px;
  border-color: black;
}

#cid_14 .form-radio-item {
  margin-bottom: 25px;
}

#cid_14 .form-radio-item label {
  text-transform: uppercase;
  font-size: 19px;
  margin-left: 20px;
}

div#cid_14 label:after {
  display: block;
  font-style: italic;
  text-transform: none;
  margin-left: 40px;
  font-size: 14px;
  margin-top: 5px;
}

#label_input_14_0:after {
  content: 'Trustee journal page + Table of up to 10 dinner reservations';
}

#label_input_14_1:after {
  content: 'Emerald  journal  page  +  Table  of  up  to  10  dinner  reservations';
}

#label_input_14_2:after {
  content: 'Diamond  journal  page  +  Table  of  up    to  10  dinner  reservations';
}

#label_input_14_3:after {
  content: 'Gold  Benefactor  journal  page  +  4  dinner  reservations';
}

#label_input_14_4:after {
  content: 'Chai  Supporter  journal  page  +  2  dinner  reservations';
}

#label_input_14_5:after {
  content: 'Silver  Patron  journal  page  +  2  dinner  reservations';
}

#id_14 .form-radio:after {
  content: '\f111';
  font-family: FontAwesome;
  background: #f8fbf4;
  font-size: 23px;
  position: relative;
  color: #c8c8c8;
  bottom: 8px;
  left: -2px;
}

#id_14 .form-radio:checked:after {
  content: "\f192";
  color: #d0af41;
}


/* Title of sections */
#label_14 label:first-of-type,
#label_7 label:first-of-type,
.co_body .content li p.form-sect-title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0;
}

/* message beneath it */
#label_14 label:last-of-type {
  font-size: 14px;
  margin: 20px 0 30px;
  color: black;
}

.form-line {
  border-bottom: 0;
}

.form-html {
  padding: 0;
}

/* OTHER AMOUNT */
.form-radio-item.clear-left:last-child > span:before {
  content: 'Contribution: $';
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 19px;
  margin-right: 10px;
}

.form-radio-item.clear-left:last-child > span:after {
  content: 'Contributions are tax deductible to the extent allowed by law.';
  display: block;
  margin-left: 40px;
  margin-top: 10px;
  font-style: italic;
}

.form-address-table .other {
  font-style: italic;
}


/* TOP HOME */
.cco_templateless_template {
  background: #7cb4b2;
}

.cco_templateless_template a {
  font-family: 'Open Sans';
  font-weight: normal;
}

#home-invite a {
  display: inline-block;
  background: #d0ac19;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: bold;
}

#home-invite a:hover {
  background: #a3860c;
  text-decoration: none;
  color: white;
}

li#id_10, li#id_12 {
  display: none;
}