@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*,
body,
.co_body .content li,
li,
.co_body .content p,
.article-body h1, .article-body h2, .article-body h3, H2.form-header,
p {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

body.mobile div#chabad_body_page,
body.cco_templateless_page {
  background-image: url(https://jewishbarrington.com/media/images/1055/FuoX10558832.jpg) !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

div#cco_body .content_tditle_container .overlay {
  display: none;
}

div.widget_header {
  display: none;
}

#border_bottom {
  width: 975px;
}

div#chabad_head {
  width: initial !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

td.chabad_logo {
  float: none;
}

.chabad_logo a {
  text-decoration: none;
}

td.chabad_logo a,
td.chabad_logo h1,
td.chabad_logo div {
  font-size: 40px;
}

.chabad_logo h1 a img {
  max-height: 100px;
}

td.chabad_text_head {
  box-sizing: border-box;
  float: none;
  vertical-align: middle;
}

td.chabad_text_head img {
  float: right;
}

div#chabad_head .chabad_navigator_bar {
  display: flex;
}

.navi li.parent:first-child {
  /* display: none !important;*/
}

body.mobile .navi li.parent:first-child {
  display: inline !important;
}

.mobile div#chabad_head .chabad_navigator_bar {
  width: 100%;
  height: auto;
}

div#chabad_main_content .chabad_navigator_bar .chabad_menu_content {
  height: 100%;
}

div#chabad_head .chabad_navigator_bar ul#menu {
  height: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

div#chabad_head .chabad_navigator_bar ul li {
  float: left;
  font-size: 13px;
  list-style: none;
  color: rgba(0, 0, 0, 0);
  z-index: 2;
}

div#chabad_head .chabad_navigator_bar ul li .sub_menu {
  display: none;
  position: absolute;
  top: 36px;
}

div#chabad_head .chabad_navigator_bar ul li ul {
  padding: 0;
}

div#chabad_head .chabad_navigator_bar ul li ul li {
  border-bottom: 1px solid #ffffff;
  border-right: none;
  float: none;
  font-size: 12px;
  height: auto;
  line-height: 17px;
  min-height: 23px;
  padding: 3px 0;
}

div#chabad_head .chabad_navigator_bar ul li.active .sub_menu {
  display: block;
}

div#chabad_head .chabad_navigator_bar ul li ul li:last-child {
  border: none;
}

div#chabad_head .chabad_navigator_bar ul li ul li a {
  display: inline-block;
  float: none;
  font-size: 12px;
  height: auto;
  max-width: 220px;
  min-width: 80px;
  padding: 2px 15px 0 15px;
}

div#chabad_head .chabad_navigator_bar ul li ul li a:hover {
  background: none;
}

div#chabad_head .chabad_navigator_bar ul li:last-child {
  border-right: none;
}

.chabad_navigator_bar ul li a {
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  height: 100%;
  padding: 25px 15px;
  font-size: 22px;
  color: white;
  text-decoration: none;
}

.chabad_navigator_bar ul li a.arrow {
  background: url("") no-repeat right center;
  padding-right: 26px;
}

div#chabad_head .chabad_navigator_bar ul li.active a.parent,
div#chabad_head .chabad_navigator_bar ul li a.selected,
div#chabad_head .chabad_navigator_bar ul li a:hover {
  background-color: #f6c17c;
  color: black;
}

div#chabad_head .chabad_navigator_bar ul li a.first {
  padding-left: 0;
}

#chabad_main_content {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: left;
  width: 975px;
}

.chabad_left_column {
  float: left;
  margin-bottom: 30px;
  width: 975px;
  /* background: white; */
}

#content_page {
  padding: 30px;
  background: white;
}

.content_full_width .chabad_left_column {
  float: none;
  width: auto;
}

div#chabad_left_colum .content_page_full,
div.chabad_left_colum .content_page_full {
  margin: 0 15px;
}

.chabad_right_column {
  position: fixed;
  right: 0;
  width: 100px;
}

div#chabad_right_colum > div {
  margin: 0 0 10px;
  overflow: visible;
  padding: 1px;
}

#chabad_right_colum [class$="body"] {
  font-size: 12px;
}

div#chabad_body_content {
  /*float: left;*/
  clear: both;
  /*padding-bottom: 15px;*/
  width: 975px;
  /* background-color: white; */
  margin-bottom: 20px;
}

#navigation,
.chabad_menu_content,
div#chabad_head .chabad_content_head,
.chabad_banner_content,
.chabad_banner_content .chabad_image_content,
.chabad_image_banner,
div#chabad_left_colum .content_page,
div.chabad_left_colum .content_page,
.chabad_box_content_first,
.chabad_box_content_second,
.chabad_box_content_third,
.chabad_title_box.no_line,
.chabad_box_content_body,
.chabad_box_gradient,
.chabad_announce,
.chabad_text_box,
.chabad_text_box,
.content_box_custom {
  float: none;
  width: initial;
}

.chabad_banner_content .chabad_text_banner {
  float: left;
  padding: 0 0 20px;
  width: 100%;
}

#content_banner:after {
  clear: both;
  content: " ";
  display: table;
}

.chabad_banner_content .chabad_image_banner {
  max-height: 342px;
  overflow: hidden;
}

div#chabad_head .flowers,
div#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  div.item
  .image {
  float: left;
}

.chabad_announce {
  margin: 10px;
  overflow: hidden;
}

.chabad_box_content_first,
.chabad_box_content_second,
.chabad_box_content_third {
  overflow-x: initial !important;
}

.chabad_banner_content .chabad_text_banner a.chabad_more_button {
  float: right;
}

.chabad_image_banner img {
  height: auto;
  width: 100%;
}

.chabad_text_box div {
  font-size: 14px;
}

.co_section_head,
.co_photo_gallery_head,
.chabad_updates_head,
.co_calendar_head {
  color: #fff;
  font-size: 20px;
  margin: 0 -1px;
}

.co_section_body,
.co_photo_gallery_body,
.chabad_updates_body,
.co_calendar_body,
.chabad_box_text_body {
  margin: 10px;
}

.co_section_text .item:last-child,
.co_photo_gallery_text .item:last-child,
.chabad_updates_text .item:last-child,
.co_calendar_text .item:last-child {
  border-bottom: none !important;
}

.co_photo_gallery a {
  display: block;
  float: none !important;
  margin: 0 5px 10px;
  overflow: hidden;
}

.co_photo_gallery a:last-child {
  margin-bottom: 0;
}

.co_photo_gallery a img {
  border: none;
  overflow: hidden;
  width: 100%;
  height: auto;
}

div#co_photo_gallery .co_photo_gallery_footer a {
  float: right;
}

.chabad_logo p {
  margin: 0;
}

.mobile_menu_nav_button {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}

.mobile_menu_nav_button:after {
  content: "\25bc";
  left: 10px;
  position: relative;
  color: inherit;
}

.mobile_menu.open .mobile_menu_nav_button:after {
  content: "\25b2";
}

body.mobile #menu li.item.parent:not(:first-child) {
  /*display: none;*/
}

body.mobile div#chabad_head .chabad_navigator_bar {
  /*width: auto;*/
  width: calc(100% - 100px);
  height: auto;
  margin-top: 0;
  /*float:none;*/
  float: left;
}

body.mobile div#chabad_head .chabad_navigator_bar ul {
  float: none;
  display: block;
}

body.mobile div#chabad_head .chabad_navigator_bar ul li {
  /*float: none;*/
  float: left;
  display: block;
  height: auto;
}

body.mobile div#chabad_head .chabad_navigator_bar ul li a {
  /*float: none;*/
  float: left;
  padding: 5px;
  /*
	height: 15px;*/
  height: 100%;
}

.mobile_menu_nav_button {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}

.mobile_menu_nav_button:after {
  content: "\25bc";
  left: 10px;
  position: relative;
  color: inherit;
}

.mobile_menu.open .mobile_menu_nav_button:after {
  content: "\25b2";
}

body.mobile .chabad_navigator_bar .chabad_menu_content {
  width: 100% !important;
  position: relative;
  z-index: 2;
}

body.mobile .chabad_navigator_bar .chabad_menu_content ul {
  margin: 0;
  padding: 0 15px;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li {
  display: inline-block;
  position: relative;
  z-index: 2;
  float: none;
  list-style: none;
}

body.mobile #navigation.chabad_navigator_bar #menu li:not(.heading) {
  padding-left: 10px;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li.last {
  border-right: none;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li.custom_separator {
  display: none;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li a {
  font-size: 13px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  /* float: left; */
  text-align: left;
}

body.mobile
  div#chabad_head
  .chabad_navigator_bar
  .chabad_menu_content
  li
  a.arrow,
body.mobile
  div#chabad_head
  .chabad_navigator_bar
  .chabad_menu_content
  ul
  li
  a.arrow {
  background: none;
  padding-right: initial;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li a.first {
  padding-left: 0;
}

body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu ul {
  float: none;
  padding: 0;
}

body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu li {
  float: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  height: auto;
  padding: 0;
  display: block;
}

body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu li.last {
  border-bottom-width: 2px;
}

body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu a {
  font-size: 14px;
  padding: 7px 18px 6px;
  font-weight: bold;
  display: block;
  float: none;
  height: auto;
  margin-bottom: 2px;
}

body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu a:hover {
  background: none;
}

body.mobile .mobile_menu_nav_button {
  display: none;
}

body.mobile .chabad_navigator_bar #menu .item.heading {
  display: block;
  text-align: center;
}

body.mobile .chabad_navigator_bar #menu .item.heading a {
  background: url(/images/1/global/bullets/down_triangle_blue.png) no-repeat
    right center;
  padding-right: 20px;
}

body.mobile .chabad_navigator_bar .sub_menu_toggle {
  display: inline-block;
  position: absolute;
  background: url(/images/1/global/bullets/down_triangle_blue.png) no-repeat
    center center;
  color: transparent;
  width: 10px;
  height: auto;
}

body.mobile .chabad_navigator_bar #menu .item.heading.expanded a,
body.mobile .chabad_navigator_bar .sub_menu_toggle.expanded {
  background-image: url(/images/1/global/bullets/up_triangle_blue.png);
}

body.mobile #menu li.item.parent {
  display: block;
  text-align: left;
}

body.mobile #menu li.item.selected a {
  border: none;
}

body.mobile #navigation.chabad_navigator_bar #menu,
body.mobile #navigation.chabad_navigator_bar #menu .sub_menu {
  /*overflow: hidden;*/
  overflow: visible;
  transition: height 0.5s;
}

body.mobile #navigation.chabad_navigator_bar #menu .sub_menu,
body.mobile #chabad_head div.chabad_navigator_bar .sub_menu {
  position: initial;
  display: block;
  width: auto;
  height: auto;
  padding: 0 0 0 20px;
  background: none;
  height: 0;
}

body.mobile .chabad_navigator_bar .sub_menu_toggle:not(.expanded) + .sub_menu {
  height: 0;
}

body.mobile div.chabad_navigator_bar #menu .sub_menu ul {
  border-left: 3px solid #bebebe;
}

body.mobile div.chabad_navigator_bar .sub_menu li.last {
  border-bottom: none;
}

body.mobile #menu .sub_menu a {
  font-weight: normal;
}

body.mobile {
  border: none;
  margin: 0;
}

body.mobile .chabad_text_head img,
body.mobile .chabad_image_banner img,
body.mobile .chabad_header img {
  width: 100%;
  height: 100%;
}

body.mobile .chabad_header {
  width: 80px;
  padding: 10px;
}

body.mobile .chabad_banner_content,
body.mobile div#chabad_body_content,
body.mobile div#chabad_left_colum,
body.mobile div.chabad_left_colum,
body.mobile div#chabad_right_colum,
body.mobile div.chabad_right_column,
body.mobile div#chabad_box_text,
body.mobile div#chabad_head .chabad_content_head,
body.mobile .chabad_title_box.no_line {
  float: initial;
}

body.mobile div#chabad_main_content,
body.mobile div#chabad_head .chabad_content_head,
body.mobile div#chabad_body_content,
body.mobile .chabad_banner_content,
body.mobile div#chabad_left_colum .content_page,
body.mobile div.chabad_left_colum .content_page,
body.mobile div#chabad_left_colum .content_page_full,
body.mobile div.chabad_left_colum .content_page_full,
body.mobile div#chabad_right_colum,
body.mobile div.chabad_right_column {
  width: auto;
  box-sizing: border-box;
  min-width: initial;
}

body.mobile div#chabad_left_colum,
body.mobile div.chabad_left_column,
body.mobile div.chabad_left_colum {
  width: auto;
  float: none;
  margin-bottom: 15px;
}

body.mobile div#chabad_body_content {
  padding: 0 7px;
  overflow: hidden;
}

body.mobile div#chabad_updates,
body.mobile div#co_calendar,
body.mobile div.co_section,
body.mobile div#chabad_box_text,
body.mobile div#chabad_left_colum .chabad_box_content_first,
body.mobile div#chabad_left_colum .chabad_box_content_second,
body.mobile div#chabad_left_colum .chabad_box_content_third,
body.mobile div#chabad_left_colum .content_box_custom,
body.mobile div#co_photo_gallery {
  margin-top: 10px;
  margin-bottom: 0;
  vertical-align: top;
}

body.mobile .chabad_banner_content .chabad_text_banner,
body.mobile .chabad_box_content_first,
body.mobile .chabad_box_content_second,
body.mobile .chabad_box_content_third {
  padding-right: 10px;
  padding-left: 10px;
}

body.mobile div#chabad_body_page,
body.mobile.cco_templateless_page {
  padding-top: initial;
}

body.mobile div#chabad_body_page,
body.cco_templateless_page {
  background: none;
  overflow-x: hidden;
}

body.mobile .co_local_menu {
  margin-bottom: initial;
}

body.mobile div#chabad_head .chabad_logo a {
  text-decoration: none;
  display: inline-block;
}

body.mobile div#chabad_head .chabad_logo a div {
  font-size: 27px;
}

body.mobile div#chabad_head {
  width: 100%;
  float: initial;
  height: auto;
}

body.mobile div#chabad_head table img {
  max-width: 100%;
  height: auto;
}

body.mobile div#chabad_head .chabad_content_head {
  position: relative;
  height: auto;
}

body.mobile div#chabad_head .chabad_logo {
  margin: 0;
  position: relative;
  z-index: 1;
  height: auto;
  float: initial;
  width: auto;
  box-sizing: border-box;
}

body.mobile div#chabad_head .logocell {
  padding: 0;
  display: block;
  margin: 0 20px 0 0;
}

body.mobile div#chabad_head .chabad_text_head {
  display: none;
}

body.mobile div#chabad_right_colum,
body.mobile div.chabad_right_column {
  text-align: center;
  margin-bottom: 15px;
}

body.mobile div#chabad_updates,
body.mobile div#co_calendar,
body.mobile div.co_section,
body.mobile div#co_photo_gallery,
body.mobile div#chabad_box_text {
  text-align: initial;
}

body.mobile div#chabad_box_text .chabad_box_text_body {
  padding: 10px 15px;
  margin: 0;
}

body.mobile #footer .footer_inner_container {
  text-align: center;
}

body.mobile #BodyContainer,
body.mobile .g960.footer {
  width: auto;
  max-width: 100%;
  margin: 0;
  float: none;
  display: block;
}

body.mobile .co_body img,
body.mobile #chabad_main_content img {
  max-width: 100%;
  height: auto;
}

body.mobile div#chabad_body_content,
body.mobile .chabad_banner_content,
body.mobile div.chabad_left_colum,
body.mobile div.chabad_left_column,
body.mobile div#chabad_left_colum,
body.mobile div#chabad_left_column,
body.mobile div#chabad_left_colum .content_page,
body.mobile div.chabad_left_colum .content_page,
body.mobile div#chabad_left_colum .content_page_full,
body.mobile div.chabad_left_colum .content_page_full,
body.mobile div#chabad_left_column .content_page,
body.mobile div.chabad_left_column .content_page,
body.mobile div#chabad_left_column .content_page_full,
body.mobile div.chabad_left_column .content_page_full,
body.mobile div#chabad_right_colum,
body.mobile div.chabad_right_column {
  margin-left: 0;
  margin-right: 0;
}

div.chabad_header img {
  width: 320px;
}

.cco_templateless_template {
  background: none;
  font-family: 'Montserrat', sans-serif !important;
  overflow: hidden;
  border-top: 5px solid #f6c17c;
}

.cco_templateless_template a {
  text-transform: none !important;
  color: white;
  font-family: 'Montserrat', sans-serif !important;
  opacity: 0.3;
  transform: scale(0.8);
  position: absolute;
  left: -5px;
  top: -3px;
  text-decoration: none !important;
}

body.mobile #content-wrap {
  width: 95vw;
}

body.mobile div#formContainer {
  width: 95vw;
}

p#home {
  margin: 0;
}

.footer,
.footer a {
  color: white;
}

/*THERMOMETER*/

#thermometer {
  background: white;
  height: 300px;
  width: 50px;
  border-radius: 100px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
}

#current {
  width: 10px;
  background: #bbd196;
  height: 100%;
  border-radius: 100px;
  width: 100%;
  -moz-animation: grow 2s 1;
  -webkit-animation: grow 2s 1;
  animation: grow 2s 1;
}

#current-wrapper {
  min-height: 30px;
  display: flex;
  align-items: flex-end;
}

div#goal-text {
  position: relative;
  right: 100px;
  top: 40px;
  color: white;
  font-weight: bold;
}

#current-text {
  position: relative;
  right: 90px;
  top: 7px;
  color: white;
}

#donate-btn {
  display: inline-block;
  padding: 10px 15px;
  width: 165px;
  position: relative;
  border-bottom: 3px solid #c7bfbf;
  right: 110px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  background: #dddddd;
}

#donate-btn:hover {
  text-decoration: none;
  background: #c7bfbf;
}

@-moz-keyframes grow {
  0% {
    height: 30px;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes grow {
  0% {
    height: 30px;
  }
  100% {
    height: 100%;
  }
}

@keyframes grow {
  0% {
    height: 30px;
  }
  100% {
    height: 100%;
  }
}


/* TITLE */
.article-body h1, .article-body h2, .article-body h3, H2.form-header {
  color: black;
  font-size: 40px;
  border-bottom: 3px solid #d4d0bf;
  margin-bottom: 30px;
}

/* DEDICATION PAGE */

#cid_1 .form-header-group {
  padding: 0;
  margin: 0;
}

div#formContainer .form-label-top, .form-label-left label {
  font-size: 20px;
}

.form-label-auto label, .form-label-top label, .form-label-left label, .form-label-right label, div.co_body h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
  background: #012444;
  padding: 5px;
  width: 109%;
  display: inline-block;
  margin-bottom: 4px;
  padding-left: 14px;
  margin-left: -36px;
}

.form-all .label-message {
  font-family: 'Montserrat', sans-serif;
  background: none;
  text-transform: none;
  letter-spacing: 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.form-line {
  background-color: #e8ebec;
  width: 600px;
  margin: 20px auto;
}

body.mobile .form-line {
  width: 95vw;
}

#id_2, #id_12 {
  background: transparent;
  border-bottom: 0;
}

/* TICKER */

#latest {
  padding-top: 20px;
  font-size: 16px;
}

#latest:after {
  content: "";
  display: table;
  clear: both;
}

#latest-title {
  width: 20%;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-right: 2px solid #b7b29a;
}

#latest marquee {
  width: 80%;
  float: right;
}

#latest-donors {
  list-style: none;
  padding: 0;
  margin: 0;
}

#latest-donors li {
  display: inline-block;
  margin-right: 15px;
  color: black;
}

#latest-donors li:after {
  content: '\2022';
  margin-left: 15px;
  color: #f6c17c;
}

#latest-donors li:last-child:after {
  content: '';
}