@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  font-family: "Montserrat", sans-serif !important;
}

.co_content_container {
  padding-top: 0;
}

.remove-empty {
  display: none;
}

#BodyContainer {
  width: 100% !important;
}

.cco_templateless_template {
  background: none;
  overflow: hidden;
}

.cco_templateless_template a {
  text-transform: none !important;
  color: #cecf29;
  opacity: 0.3;
  transform: scale(0.8);
  position: absolute;
  left: -5px;
  top: -3px;
  text-decoration: none !important;
}

.cco_templatelates_content {
  margin-top: -10px;
}

#chabad-head-wrap {
  box-shadow: 1px 1px 10px lightgray;
  padding-top: 40px;
}

#cco_body .content_tditle_container .overlay {
  display: none;
}

.widget_header {
  display: none;
}
#border_bottom {
  width: 975px;
}
#chabad_head {
  float: none !important;
  width: 1200px;
  height: 135px;
  margin: 0 auto;
}
.chabad_header {
  width: 300px;
  float: left;
  display: flex;
  align-items: center;
}

.chabad_header img {
  height: 100px;
}

.chabad_header a:last-child {
  margin-left: 20px;
}

.chabad_header a:hover {
  text-decoration: none;
}

.chabad_header a:hover span {
  color: #f44c72;
}

.chabad_header span {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff9403;
}

td.chabad_logo {
  float: none;
}

.chabad_logo a {
  text-decoration: none;
}

td.chabad_logo a,
td.chabad_logo h1,
td.chabad_logo div {
  font-size: 40px;
}

.chabad_logo h1 a img {
  max-height: 100px;
}

td.chabad_text_head {
  box-sizing: border-box;
  float: none;
  vertical-align: middle;
}

td.chabad_text_head img {
  float: right;
}
#chabad_head .chabad_navigator_bar {
  background-size: 100%;
  width: 900px;
  height: 36px;
  float: right;
}

.mobile #chabad_head .chabad_navigator_bar {
  width: 100%;
  height: auto;
}

#chabad_main_content .chabad_navigator_bar .chabad_menu_content {
  height: 100%;
}

#chabad_head .chabad_navigator_bar ul#menu {
  height: 92px;
  line-height: 92px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  float: right;
}

#chabad_head .chabad_navigator_bar ul li {
  float: left;
  font-size: 13px;
  list-style: none;
  color: rgba(255, 255, 255, 0);
  z-index: 2;
  margin-right: 20px;
}

#chabad_head .chabad_navigator_bar ul li .sub_menu {
  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 92px;
  border-top: none;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99999;
}

#chabad_head .chabad_navigator_bar ul li ul {
  padding: 0;
}

#chabad_head .chabad_navigator_bar ul li ul li {
  border-bottom: 1px solid #ffffff;
  border-right: none;
  float: none;
  font-size: 12px;
  height: auto;
  line-height: 27px;
  min-height: 23px;
  padding: 3px 0;
}

#chabad_head .chabad_navigator_bar ul li.active .sub_menu {
  /* display: block;*/
  visibility: visible;
  opacity: 1;
}

#chabad_head .chabad_navigator_bar ul li ul li:last-child {
  border: none;
}

#chabad_head .chabad_navigator_bar ul li ul li a {
  display: inline-block;
  float: none;
  font-size: 16px;
  height: auto;
  max-width: 220px;
  min-width: 80px;
  padding: 2px 15px 0 15px;
}

#chabad_head .chabad_navigator_bar ul li ul li a:hover {
  background: none;
  border-top: none;
}

#chabad_head .chabad_navigator_bar ul li:last-child {
  border-right: none;
}

.chabad_navigator_bar ul li a {
  float: left;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  /*padding: 0 16px;*/
  padding-left: 6px;
  text-decoration: none;
  font-size: 1.4em;
  color: #e21723;
  transition: border-top 0.3s ease;
  border-top: 0px solid #e21723;
}

.chabad_navigator_bar ul li a.arrow {
  background: url("https://chabadorg.clhosting.org/media/images/982/ipVJ9825861.png")
    no-repeat right center;
  padding-right: 17px;
}

#chabad_head .chabad_navigator_bar ul li.active a.parent,
#chabad_head .chabad_navigator_bar ul li a.selected,
#chabad_head .chabad_navigator_bar ul li a:hover {
  color: #cdb8a7;
  border-top: 5px solid #f7e9d0;
  transition: border-top 0.3s ease;
}

#chabad_head .chabad_navigator_bar ul li a.first {
  padding-left: 0;
}
#chabad_main_content {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: left;
  width: 100vw;
}

.chabad_left_column {
  float: left;
  /* margin: 15px;*/
  margin-bottom: 0;
  width: 100%;
}

.content_full_width .chabad_left_column {
  float: none;
  width: auto;
}

.chabad_right_column {
  float: left;
  margin-top: 15px;
  width: 245px;
}

#chabad_body_content {
  float: left;
  padding-bottom: 15px;
  width: 100vw !important;
}

#navigation,
.chabad_menu_content,
#chabad_head .chabad_content_head,
.chabad_banner_content,
.chabad_banner_content .chabad_image_content,
.chabad_image_banner,
.chabad_box_content_first,
.chabad_box_content_second,
.chabad_box_content_third,
.chabad_title_box.no_line,
.chabad_box_content_body,
.chabad_box_gradient,
.chabad_announce,
.chabad_text_box,
.chabad_text_box,
.content_box_custom {
  float: none;
  width: initial;
}

.chabad_banner_content .chabad_text_banner {
  float: left;
  padding: 0 0 20px;
  width: 100%;
}

#content_banner:after {
  clear: both;
  content: " ";
  display: table;
}

.chabad_banner_content .chabad_image_banner {
  max-height: 342px;
  overflow: hidden;
}

#chabad_head .flowers,
#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  .item
  .image {
  float: left;
}

.chabad_announce {
  margin: 10px;
  overflow: hidden;
}
.chabad_box_content_first,
.chabad_box_content_second,
.chabad_box_content_third {
  overflow-x: initial !important;
}

.chabad_banner_content .chabad_text_banner a.chabad_more_button {
  float: right;
}

.chabad_image_banner img {
  height: auto;
  width: 100%;
}

.chabad_text_box div {
  font-size: 14px;
}
.co_section_head,
.co_photo_gallery_head,
.chabad_updates_head,
.co_calendar_head {
  color: #fff;

  font-size: 20px;
  margin: 0 -1px;
}

.co_section_body,
.co_photo_gallery_body,
.chabad_updates_body,
.co_calendar_body,
.chabad_box_text_body {
  margin: 10px;
}

.co_section_text .item:last-child,
.co_photo_gallery_text .item:last-child,
.chabad_updates_text .item:last-child,
.co_calendar_text .item:last-child {
  border-bottom: none !important;
}

.co_photo_gallery a {
  display: block;
  float: none !important;
  margin: 0 5px 10px;
  overflow: hidden;
}

.co_photo_gallery a:last-child {
  margin-bottom: 0;
}

.co_photo_gallery a img {
  border: none;
  overflow: hidden;
  width: 100%;
  height: auto;
}

#co_photo_gallery .co_photo_gallery_footer a {
  float: right;
}

.chabad_logo p {
  margin: 0;
}

.mobile_menu_nav_button {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}
.mobile_menu_nav_button:after {
  content: "\25bc";
  left: 10px;
  position: relative;
  color: inherit;
}
.mobile_menu.open .mobile_menu_nav_button:after {
  content: "\25b2";
}

.mobile #chabad_head .chabad_navigator_bar {
  width: auto;
  height: auto;
  margin-top: 0;
  float: none;
}

.mobile #chabad_head .chabad_navigator_bar ul {
  float: none;
  display: block;
}

.mobile #chabad_head .chabad_navigator_bar ul li {
  float: none;
  display: block;
  height: auto;
}

.mobile #chabad_head .chabad_navigator_bar ul li a {
  float: none;
}
.mobile_menu_nav_button {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}

.mobile_menu_nav_button:after {
  content: "\25bc";
  left: 10px;
  position: relative;
  color: inherit;
}

.mobile_menu.open .mobile_menu_nav_button:after {
  content: "\25b2";
}

.mobile .chabad_navigator_bar .chabad_menu_content {
  width: 100% !important;
  position: relative;
  z-index: 2;
}

.mobile .chabad_navigator_bar .chabad_menu_content ul {
  margin: 0;
  padding: 0 15px;
}

.mobile .chabad_navigator_bar .chabad_menu_content li {
  display: inline-block;
  position: relative;
  z-index: 2;
  float: none;
  list-style: none;
}

.mobile .chabad_navigator_bar .chabad_menu_content li.last {
  border-right: none;
}
.mobile .chabad_navigator_bar .chabad_menu_content li.custom_separator {
  display: none;
}
.mobile .chabad_navigator_bar .chabad_menu_content li a {
  font-size: 13px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  float: none;
  text-align: left;
}
.mobile #chabad_head .chabad_navigator_bar .chabad_menu_content li a.arrow,
.mobile #chabad_head .chabad_navigator_bar .chabad_menu_content ul li a.arrow {
  background: none;
  padding-right: initial;
}
.mobile .chabad_navigator_bar .chabad_menu_content li a.first {
  padding-left: 0;
}
.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu ul {
  float: none;
  padding: 0;
}
.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu li {
  float: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  height: auto;
  padding: 0;
  display: block;
}
.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu li.last {
  border-bottom-width: 2px;
}
.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu a {
  font-size: 14px;
  padding: 7px 18px 6px;
  font-weight: bold;
  display: block;
  float: none;
  height: auto;
  margin-bottom: 2px;
}
.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu a:hover {
  background: none;
}
.mobile .mobile_menu_nav_button {
  display: none;
}
.mobile .chabad_navigator_bar #menu .item.heading {
  display: block;
  text-align: center;
}
.mobile .chabad_navigator_bar #menu .item.heading a {
  background: url(/images/1/global/bullets/down_triangle_blue.png) no-repeat right center;
  padding-right: 20px;
}
.mobile .chabad_navigator_bar .sub_menu_toggle {
  display: inline-block;
  position: absolute;
  background: url(/images/1/global/bullets/down_triangle_blue.png) no-repeat center center;
  color: transparent;
  width: 10px;
  height: auto;
}
.mobile .chabad_navigator_bar #menu .item.heading.expanded a,
.mobile .chabad_navigator_bar .sub_menu_toggle.expanded {
  background-image: url(/images/1/global/bullets/up_triangle_blue.png);
}
.mobile #menu li.item.parent {
  display: block;
  text-align: left;
}

.mobile #menu li.item.selected a {
  border: none;
}
.mobile #navigation.chabad_navigator_bar #menu,
.mobile #navigation.chabad_navigator_bar #menu .sub_menu {
  overflow: hidden;
  transition: height 0.5s;
}
.mobile #navigation.chabad_navigator_bar #menu .sub_menu,
.mobile #chabad_head .chabad_navigator_bar .sub_menu {
  position: initial;
  display: block;
  width: auto;
  height: auto;
  padding: 0 0 0 20px;
  background: none;
  height: 0;
}
.mobile .chabad_navigator_bar .sub_menu_toggle:not(.expanded) + .sub_menu {
  height: 0;
}
.mobile .chabad_navigator_bar #menu .sub_menu ul {
  border-left: 3px solid #bebebe;
}
.mobile .chabad_navigator_bar .sub_menu li.last {
  border-bottom: none;
}
.mobile #menu .sub_menu a {
  font-weight: normal;
}
.mobile {
  border: none;
  margin: 0;
}
.mobile .chabad_text_head img,
.mobile .chabad_image_banner img,
.mobile .chabad_header img {
  width: 100%;
  height: 100%;
}
.mobile .chabad_banner_content,
.mobile #chabad_body_content,
.mobile .chabad_right_column,
.mobile #chabad_box_text,
.mobile #chabad_head .chabad_content_head,
.mobile .chabad_title_box.no_line {
  float: initial;
}
.mobile #chabad_main_content,
.mobile #chabad_head .chabad_content_head,
.mobile #chabad_body_content,
.mobile .chabad_banner_content,
.mobile .chabad_right_column {
  width: auto;
  box-sizing: border-box;
  min-width: initial;
}
.mobile .chabad_left_column {
  width: auto;
  float: none;
  margin-bottom: 15px;
}
.mobile #chabad_body_content {
  padding: 0 7px;
  overflow: hidden;
}
.mobile #chabad_updates,
.mobile #co_calendar,
.mobile .co_section,
.mobile #chabad_box_text,
.mobile #co_photo_gallery {
  margin-top: 10px;
  margin-bottom: 0;
  vertical-align: top;
}
.mobile .chabad_banner_content .chabad_text_banner,
.mobile .chabad_box_content_first,
.mobile .chabad_box_content_second,
.mobile .chabad_box_content_third {
  padding-right: 10px;
  padding-left: 10px;
}
.mobile #chabad_body_page,
.mobile.cco_templateless_page {
  padding-top: initial;
}
.mobile #chabad_body_page,
body.cco_templateless_page {
  background: none;
  overflow-x: hidden;
}
.mobile .co_local_menu {
  margin-bottom: initial;
}
.mobile #chabad_head .chabad_logo a {
  text-decoration: none;
  display: inline-block;
}
.mobile #chabad_head .chabad_logo a div {
  font-size: 27px;
}
.mobile #chabad_head {
  width: 100%;
  float: initial;
  height: auto;
}
.mobile #chabad_head table img {
  max-width: 100%;
  height: auto;
}
.mobile #chabad_head .chabad_content_head {
  position: relative;
  height: auto;
}
.mobile #chabad_head .chabad_logo {
  margin: 0;
  position: relative;
  z-index: 1;
  height: auto;
  float: initial;
  width: auto;
  box-sizing: border-box;
}
.mobile #chabad_head .logocell {
  padding: 0;
  display: block;
  margin: 0 20px 0 0;
}
.mobile #chabad_head .chabad_text_head {
  display: none;
}
.mobile .chabad_right_column {
  text-align: center;
  margin-bottom: 15px;
}

.mobile #chabad_updates,
.mobile #co_calendar,
.mobile .co_section,
.mobile #co_photo_gallery,
.mobile #chabad_box_text {
  text-align: initial;
}
.mobile #chabad_box_text .chabad_box_text_body {
  padding: 10px 15px;
  margin: 0;
}
.mobile #footer .footer_inner_container {
  text-align: center;
}
.mobile #BodyContainer,
.mobile .g960.footer {
  width: auto;
  max-width: 100%;
  margin: 0;
  float: none;
  display: block;
}
.mobile .co_body img,
.mobile #chabad_main_content img {
  max-width: 100%;
  height: auto;
}

.mobile #chabad_body_content,
.mobile .chabad_banner_content,
.mobile .chabad_left_column,
.mobile #chabad_left_column,
.mobile #chabad_left_column .content_page,
.mobile .chabad_left_column .content_page,
.mobile #chabad_left_column .content_page_full,
.mobile .chabad_left_column .content_page_full,
.mobile .chabad_right_column {
  margin-left: 0;
  margin-right: 0;
}

#hero-rendering {
  height: calc(100vh - 165px);
  background: url('https://chabadvt.org/media/images/1058/kIfU10580947.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*********************************
HOME PAGE - OTHER AREAS
*************/
#descrip-section {
  background: url('https://chabadvt.org/media/images/1060/GBfA10600927.jpg');
  background-size: 100% auto;
  background-position: 0%;
  background-repeat: no-repeat;
}

#descrip-wrap {
  max-width: 900px;
  margin: auto;
  padding: 50px;
  font-size: 24px;
  text-align: center;
  color: white;
}
.kivun-subtitle {
  font-size: 45px;
  font-weight: bold;
  color: #ccb9a9;
}

.container img {
  max-width: 100%;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 60px;
  transition: 1s ease;
}
#need-col h4,
#plans-col h4,
#mikvah-col h4 {
  font-size: 27px;
  font-weight: 700;
  color: #f44c72;
  margin: 20px 0;
}
#need-col p,
#plans-col p,
#mikvah-col p {
  font-size: 17px;
}
#need-col a.button,
#plans-col a.button,
#mikvah-col a.button {
  padding: 5px 10px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  background: #cdb7a7;
  border-bottom: 2px solid #a7846e;
}
}
.container img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 1s ease;
  opacity: 0.5;
}
.g960 {
  width: 100%;
  margin-top: 50px;
  background: #f7e9d0;
  padding-top: 30px;
  margin-left: 0;
}
.footer3 p {
  font-size: 13px;
  max-width: 950px;
  color: #b7aa9d;
  margin-left: auto;
  margin-right: auto;
}
.footer3,
.footer,
.footer a {
  color: #b7aa9d;
}
.col-md-12 p {
  font-size: 18px;
}
.col-md-12 h1 {
  color: #cdb8a7;
  font-size: 35px;
  margin-bottom: 20px;
}

.co_index .item {
  margin-left: 29px !important;
}
.form-header-group {
  margin-left: 0;
  border-bottom: #f7e9d0 solid 2px;
}
h3.form-header {
  font-size: 2em;
}

/* THERMOMETER */
#therm-contain {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
#thermometer {
  width: 205px;
  height: 403px;
  position: relative;
  background: rgba(170, 170, 95, 0.85);
  border: 1px solid #aaa;
  border-radius: 12px;
}

#thermometer .track {
  height: 380px;
  top: 10px;
  width: 23px;
  border: 1px solid #aaa;
  position: relative;
  /*margin:0 auto;*/
  margin-left: 35px;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgb(0, 0, 0)),
    color-stop(1%, rgb(255, 255, 255))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(0, 0, 0) 0%,
    rgb(255, 255, 255) 10%
  );
  background: -o-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 10%);
  background: -ms-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 10%);
  background: -moz-linear-gradient(
    top,
    rgb(0, 0, 0) 0%,
    rgb(255, 255, 255) 10%
  );
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgb(255, 255, 255) 10%
  );
  background-position: 0 -1px;
  background-size: 100% 10%;
}
#thermometer .progress {
  height: 0%;
  width: 100%;
  background: rgb(37, 39, 12);
  background: rgba(37, 39, 12, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  border-radius: 0;
  overflow: visible;
}
#thermometer .goal {
  position: absolute;
  top: 0;
}
#thermometer .amount {
  display: inline-block;
  padding: 0 5px 0 37px;
  font-weight: bold;
  color: #334127;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

#thermometer .progress .amount {
  padding: 0 60px 0 5px;
  /*position: absolute;*/
  color: #334127;
  /*right:0;*/
  padding-left: 37px;
  font-family: "Montserrat", sans-serif;
}
#thermometer .amount-description {
  font-family: "Montserrat", sans-serif;
  color: #334127;
  padding-left: 37px;
  font-size: 11px;
  text-transform: uppercase;
}
.purchase-amount {
  color: #334127;
  font-family: "Montserrat", sans-serif;
  padding-left: 37px;
  font-size: 16px;
}

#purchase-amount-container {
  margin-top: 124px;
}

.page-tools-sidebar {
  display: none;
}

@media (min-width: 768px) {
  #cco_body {
    width: 750px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  #cco_body {
    width: 970px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  #cco_body {
    width: 1170px;
    margin: auto;
  }
}

@media only screen and (max-device-width: 480px) {
  #thermometer {
    display: none;
  }
  .chabad_header {
    width: 90%;
    float: none;
    display: block;
    margin: auto;
  }
  #chabad_head .chabad_navigator_bar ul#menu {
    width: 100%;
  }
  .mobile #menu li.item.parent {
    display: inline-block;
  }
  .sub_menu_toggle,
  .sub_menu {
    display: none !important;
  }
  .mobile #navigation.chabad_navigator_bar #menu {
    text-align: center;
  }
  .hero h1 {
    font-size: 2.2em;
  }
  .hero {
    top: 80px;
    left: 30px;
  }
}


/* INDEX PAGE */
.co_index .item .title {
  color: #e21722;
  font-size: 25px;
}

.co_index .item .title:before {
  content: "\f0a9";
  font-family: FontAwesome;
  font-size: 20px;
  color: #ff9403;
  display: inline-block;
  margin-right: 10px;
}
/* PAGE GENERAL */
.co_body .container {
  margin-top: 40px;
}